<a href="https://colab.research.google.com/github/kisharahamed/GenderPredection/blob/master/e_Commerce_Gender_Predection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [0]:
#header_str =  ['user_id','startTime','endTime','ProductList']
data_set = pd.read_csv("train.csv")
test_data_set = pd.read_csv("test.csv")

In [862]:
print(data_set.shape)
print(test_data_set.shape)

(10500, 5)
(4500, 4)

In [863]:
data_set.columns

Index(['session_id', 'startTime', 'endTime', 'ProductList', 'gender'], dtype='object')

In [864]:
data_set.head(10)

  session_id  ...  gender
0     u16159  ...  female
1     u10253  ...    male
2     u19037  ...  female
3     u14556  ...  female
4     u24295  ...    male
5     u20964  ...  female
6     u20981  ...  female
7     u15947  ...    male
8     u18193  ...    male
9     u21820  ...  female

[10 rows x 5 columns]

In [865]:
data_set

      session_id  ...  gender
0         u16159  ...  female
1         u10253  ...    male
2         u19037  ...  female
3         u14556  ...  female
4         u24295  ...    male
...          ...  ...     ...
10495     u15442  ...  female
10496     u17986  ...  female
10497     u22508  ...  female
10498     u17087  ...  female
10499     u23137  ...  female

[10500 rows x 5 columns]

In [0]:
from collections import Counter
def split_Product(productList):
  if ';' in productList:
    prd_lst = productList.split(';')
    #print(prd_lst)
    count_item = len(prd_lst)
    first_sub = prd_lst[0].split('/')[0]
    first_subsub = prd_lst[0].split('/')[1]
    tot_sub = []
    tot_subsub = []
    for item in prd_lst:
      tot_sub.append(item.split('/')[0])
      tot_subsub.append(item.split('/')[1])
      unique_sub = len(set(tot_sub))
      unique_subsub = len(set(tot_subsub))
      most_freq_sub = max(tot_sub, key=Counter(tot_sub).get)
  else:
    sub_lst = productList.split('/')
    first_sub = sub_lst[0]
    first_subsub = sub_lst[1]
    unique_sub, unique_subsub, count_item = 1, 1, 1
    most_freq_sub = first_sub
  return(count_item, first_sub, first_subsub, unique_sub, unique_subsub, most_freq_sub)

In [867]:
new_col_list = data_set['ProductList'].apply(lambda x: split_Product(x))
#print(new_col_list.shape)
print(new_col_list)

0        (4, A00002, B00003, 1, 1, A00002)
1        (7, A00001, B00009, 1, 1, A00001)
2        (1, A00002, B00001, 1, 1, A00002)
3        (3, A00002, B00004, 1, 1, A00002)
4        (2, A00001, B00001, 1, 1, A00001)
                       ...
10495    (2, A00002, B00002, 1, 1, A00002)
10496    (1, A00006, B00030, 1, 1, A00006)
10497    (1, A00002, B00002, 1, 1, A00002)
10498    (2, A00003, B00012, 1, 1, A00003)
10499    (4, A00002, B00001, 2, 3, A00002)
Name: ProductList, Length: 10500, dtype: object

In [868]:
new_col = ['ItemCount', 'FSubcategory', 'FSubSubCategory', 'UniqueSubCategory', 'UniqueSubSubCategory', 'MostFreqSubCategory']

#creating data frame 
new_col_df = pd.DataFrame(new_col_list.to_list(), columns=new_col)
new_col_df.shape
new_col_df

       ItemCount FSubcategory  ... UniqueSubSubCategory  MostFreqSubCategory
0              4       A00002  ...                    1               A00002
1              7       A00001  ...                    1               A00001
2              1       A00002  ...                    1               A00002
3              3       A00002  ...                    1               A00002
4              2       A00001  ...                    1               A00001
...          ...          ...  ...                  ...                  ...
10495          2       A00002  ...                    1               A00002
10496          1       A00006  ...                    1               A00006
10497          1       A00002  ...                    1               A00002
10498          2       A00003  ...                    1               A00003
10499          4       A00002  ...                    3               A00002

[10500 rows x 6 columns]

In [0]:
data_set = pd.concat([data_set, new_col_df], axis=1)

In [0]:
#data_set['startTime'] = pd.to_datetime(data_set['startTime'])
#data_set['endTime'] = pd.to_datetime(data_set['endTime'])
#data_set['duration'] = data_set['endTime'] - data_set['startTime']
#data_set['duration'] = data_set['duration'].astype('timedelta64[m]')
#data_set['weekday'] = data_set['startTime'].dt.dayofweek
#data_set['hour_24h'] = data_set['startTime'].dt.hour'''

In [871]:
data_set

      session_id       startTime  ... UniqueSubSubCategory MostFreqSubCategory
0         u16159  15/12/14 18:11  ...                    1              A00002
1         u10253  16/12/14 14:35  ...                    1              A00001
2         u19037  01/12/14 15:58  ...                    1              A00002
3         u14556   23/11/14 2:57  ...                    1              A00002
4         u24295  17/12/14 16:44  ...                    1              A00001
...          ...             ...  ...                  ...                 ...
10495     u15442   18/11/14 7:39  ...                    1              A00002
10496     u17986  25/11/14 15:16  ...                    1              A00006
10497     u22508  09/12/14 10:11  ...                    1              A00002
10498     u17087  22/11/14 11:27  ...                    1              A00003
10499     u23137   19/12/14 3:11  ...                    3              A00002

[10500 rows x 11 columns]

In [872]:
drop_list = ['session_id', 'startTime', 'endTime', 'ProductList']
data_set = data_set.drop(drop_list, axis=1)
data_set

       gender  ItemCount  ... UniqueSubSubCategory MostFreqSubCategory
0      female          4  ...                    1              A00002
1        male          7  ...                    1              A00001
2      female          1  ...                    1              A00002
3      female          3  ...                    1              A00002
4        male          2  ...                    1              A00001
...       ...        ...  ...                  ...                 ...
10495  female          2  ...                    1              A00002
10496  female          1  ...                    1              A00006
10497  female          1  ...                    1              A00002
10498  female          2  ...                    1              A00003
10499  female          4  ...                    3              A00002

[10500 rows x 7 columns]

In [0]:
data_set =  pd.get_dummies(data_set)

In [874]:
data_set.isnull().sum().sum()

0

In [875]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

gender = ['gender_male', 'gender_female']
X = data_set.drop(gender, 1)

print(X.columns)

Y = data_set[gender]
print(X.shape)
print(Y.shape)

Index(['ItemCount', 'UniqueSubCategory', 'UniqueSubSubCategory',
       'FSubcategory_A00001', 'FSubcategory_A00002', 'FSubcategory_A00003',
       'FSubcategory_A00004', 'FSubcategory_A00005', 'FSubcategory_A00006',
       'FSubcategory_A00007',
       ...
       'MostFreqSubCategory_A00002', 'MostFreqSubCategory_A00003',
       'MostFreqSubCategory_A00004', 'MostFreqSubCategory_A00005',
       'MostFreqSubCategory_A00006', 'MostFreqSubCategory_A00007',
       'MostFreqSubCategory_A00008', 'MostFreqSubCategory_A00009',
       'MostFreqSubCategory_A00010', 'MostFreqSubCategory_A00011'],
      dtype='object', length=107)
(10500, 107)
(10500, 2)

In [876]:
#sm = SMOTE(random_state=12, ratio = "minority")
#X_train, Y_train = sm.fit_sample(X_train, Y_train)

val_size = 0.25

X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=val_size)

X_train.fillna(X_train.mean(), inplace=True)
Y_train.fillna(Y_train.mean(), inplace=True)
X_val.fillna(X_train.mean(), inplace=True)
Y_val.fillna(Y_train.mean(), inplace=True)

print(Y_train)
print(Y_val)
print(X_val)

       gender_male  gender_female
4258             1              0
2440             1              0
8835             0              1
4362             0              1
8050             0              1
...            ...            ...
1966             0              1
10222            0              1
3295             0              1
1834             0              1
5946             0              1

[7875 rows x 2 columns]
      gender_male  gender_female
3691            0              1
7092            0              1
1223            0              1
7173            0              1
4100            0              1
...           ...            ...
5247            1              0
5584            0              1
4805            0              1
1751            0              1
1865            1              0

[2625 rows x 2 columns]
      ItemCount  ...  MostFreqSubCategory_A00011
3691          1  ...                           0
7092          1  ...                           0
1223          3  ...                           0
7173          1  ...                           0
4100          5  ...                           0
...         ...  ...                         ...
5247          1  ...                           0
5584          3  ...                           0
4805          1  ...                           0
1751          2  ...                           0
1865          1  ...                           0

[2625 rows x 107 columns]

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

In [878]:
clf = RandomForestClassifier()
clf = clf.fit(X_train,Y_train)

X_val.isnull().sum().sum()

0

In [879]:
print("Evalute based on validation set")
print("accuracy score" + " %s" % accuracy_score(Y_val, clf.predict(X_val)))

Evalute based on validation set
accuracy score 0.8666666666666667

In [880]:
new_col_list1 = test_data_set['ProductList'].apply(lambda x: split_Product(x))
new_col1 = ['ItemCount', 'FSubcategory', 'FSubSubCategory', 'UniqueSubCategory', 'UniqueSubSubCategory', 'MostFreqSubCategory']
new_col_df1 = pd.DataFrame(new_col_list1.to_list() , columns=new_col1)
new_col_df1.shape
test_data_set = pd.concat([test_data_set, new_col_df1], axis=1)
drop_list = ['session_id', 'startTime', 'endTime', 'ProductList']
test_data_set = test_data_set.drop(drop_list, axis=1)

test_data_set =  pd.get_dummies(test_data_set)
print(test_data_set.isnull().sum().sum())
#test_data_set = test_data_set.fillna(test_data_set.mean(), inplace=True)
test_data_set = pd.DataFrame(test_data_set, columns=X.columns)
print(test_data_set.isnull().sum().sum())
test_data_set = test_data_set.fillna(0)
print(test_data_set.isnull().sum().sum())

0
58500
0

In [0]:
#print(test_data_set.head())
test_data_set.isnull().sum().sum().sum()
pred = pd.DataFrame(clf.predict(test_data_set), columns=gender)

In [0]:
pd.DataFrame(clf.predict(test_data_set)).to_csv("predicted_result.csv", index=False)